* {
  padding: 0;
  margin: 0;
  font-family: "Akaya Telivigala", monospace, sans-serif;
  /* font-size: 22px; */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 90vh;
  width: 100%;
  background-color: #e3e3e3;
  padding: 5px 0;
}
.header {
  text-align: center;
  color: #262834;
  font-size: 22px;
  padding: 8px;
}
.container {
  width: 96%;
  margin: 0 auto;
  background-color: #080808;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(60px, auto);
}
.btns button {
  padding: 8px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 500;
  font-size: 22px;
}
.btns button.btn1 {
  background-color: #56cbdb;
  color: #262834;
  font-weight: bold;
}
.btns button.btn2 {
  background-color: #262834;
  color: #e3e3e3;
  font-weight: bold;
}
.btns button.btn3 {
  background-color: #c0eef2;
  color: #262834;
  font-weight: bold;
}
.text {
  width: calc(100% - 10px);
  height: calc(100vh - 150px);
  border: none;
  outline: none;
  background-color: #121212;
  resize: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #e3e3e3;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px 5px 0px 5px;
  letter-spacing: 0.2px;
  font-family: monospace, sans-serif;
  font-size: 20px;
  overflow: auto;
  word-wrap: break-word;
  text-wrap: wrap;
}

.text .concept {
  background-color: #262834;
  margin: 10px;
  padding: 0 10px 10px 10px;
}
.text .concept-desc {
  font-size: 22px;
}
.text h2 {
  text-align: center;
  padding: 10px;
}
.text .example {
  background-color: rgb(22, 27, 34);
  /* margin: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.text h3,
h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}
